.content{
    text-align: center;
}
.main{
    margin-top: 70px;
}
.quenmatkhau{
    background: red($color: #000000);
    text-align: end;
    margin-top: 25px;
}
.banquyen p{
    margin-top: 95px;
    font-size: 13px;
}
.ion-list{
    margin-top: 30px;
}
.btn-dn-dk{
    margin-top: 55px;
}

